:root {
  --footer-player-background: #1a1b26;
  --sidebar-background: #1a1b26;
  --sidebar-hover-background: #414868;
  --sidebar-menu-top-text: #565f89;
  --sidebar-menu-playlist-text: #565f89;
  --search-background: #1a1b26;
  --main-background: #16161e;
  --main-navigation-control-background: #1a1b26;
  --main-feed-button-background: #1a1b26;
  --player-control-background: #24283b;
  --player-control-active-button: #7aa2f7;
  --player-progress-bar: #ff9e64;
  --indicator-hifi-background: #9ece6a;
  --indicator-hifi-span: #1a1b26;
  --player-control-favorite: #f7768e;
  --search-dialog-background: #24283b;
  --right-queue-background: #24283b;
  --wave-color-solid-accent-fill: #7aa2f7;
  --wave-color-solid-accent-dark: #78a0f79c;
  --wave-color-opacity-base-brighter-ultra-thick: #1a1b26cc;
  --wave-color-solid-base-bright: #1a1b26;
  --wave-color-solid-base-brighter: #1a1b26;
  --wave-color-solid-base-brightest: #2c2e41;
  --wave-color-opacity-contrast-fill-ultra-thin: #2c2e41ad;
  --market-core-surface-10-color: #1a1b26;
  --market-core-surface-10-color-high: #24283b;
}
#main {
  background-color: var(--main-background);
}
#sidebar {
  background-color: var(--sidebar-background);
  contain: strict;
  flex-grow: 1;
  overflow-y: auto;
}
#footerPlayer {
  background-color: var(--footer-player-background);
}
#nativeRange {
  background-color: var(--sidebar-background);
}
.main--jxfcQ {
  background-color: var(--main-background);
}
button.button--yO9Cd {
  background-color: var(--main-navigation-control-background);
}
.player--gAOQG.lossLess--ON3FI button.withBackground[aria-checked="true"] path {
  fill: var(--player-control-active-button);
}
.player--gAOQG.lossLess--ON3FI button.withBackground[aria-checked="true"] {
  background-color: var(--player-control-background);
}
.activeItem--kFIk0
  .activeItem--kFIk0
  .playlistItem--mQrxp
  .section--PSIay.playingItem--eWkYS {
  color: #565f89;
}
.playbackControls--FhKVf button .tidal-ui__icon {
  transform: scale(1);
}
.css-11m9iw3 {
  background-color: var(--indicator-hifi-background);
}
.css-11m9iw3 span {
  color: var(--indicator-hifi-span);
}
.activeItem--kFIk0 {
  color: var(--sidebar-menu-top-text);
}
.activeItem--kFIk0 .playlistItem--mQrxp {
  color: var(--sidebar-menu-playlist-text);
}
button.feedBell--kvAbD {
  background-color: var(--main-feed-button-background);
}
.baseContainer--jxCbW {
  background-color: var(--search-dialog-background);
}
.favoriteButton--Qladw.is-favorite path {
  fill: var(--player-control-favorite);
}
.container--PFTHk {
  background-color: var(--right-queue-background);
}
.container--cl4MJ {
  background-color: var(--search-background);
}

/* Settings window styling */
.settings-window {
  color: var(--sidebar-menu-playlist-text);
}
.settings-window__wrapper {
  background: var(--main-background);
  box-shadow: inset 0 0 2px 0 var(--main-feed-button-background);
}
.settings-window__close-button:hover {
  background: var(--main-feed-button-background);
}
.settings input:checked + label {
  border-bottom: 2px solid var(--player-control-active-button);
  color: var(--player-control-active-button);
}

.tabs::-webkit-scrollbar-thumb {
  background-color: #404248;
  box-shadow: inset 0 0 10px 2px var(--search-background);
}

.group {
  border-bottom: 1px solid #333;
}
.group__description p {
  color: var(--sidebar-menu-top-text);
}
.group__description .text-input {
  border-bottom: solid 1px #333;
  color: var(--sidebar-menu-top-text);
}
.group__description .text-input:focus {
  border-color: var(--player-control-active-button);
  color: var(--sidebar-menu-playlist-text);
}

.switch input:checked + .switch__slider {
  background-color: var(--player-control-active-button);
}
.switch input:checked + .switch__slider::before {
  background-color: var(--sidebar-menu-playlist-text);
}
.switch input:focus + .switch__slider {
  box-shadow: inset 0 0 0 1px var(--player-control-active-button);
}
.switch__slider {
  background-color: var(--search-background);
}
.switch__slider::before {
  background-color: var(--sidebar-menu-playlist-text);
}

.textarea {
  background: var(--search-background);
  color: var(--sidebar-menu-top-text);
}
.textarea:focus {
  border-color: var(--player-control-active-button);
  color: var(--sidebar-menu-playlist-text);
}

.about-section__version a {
  background-color: #404248;
  color: var(--player-control-active-button);
}
.about-section__links a {
  color: var(--sidebar-menu-playlist-text);

  background-color: var(--search-background);
}
.about-section__links a i {
  color: var(--sidebar-menu-playlist-text);
}
.about-section__links a:hover {
  background-color: var(--player-control-favorite);
}

.footer__note {
  color: var(--sidebar-menu-top-text);
}
.footer__button {
  background: #404248;
  color: var(--sidebar-menu-playlist-text);
}
.footer__button:hover {
  background: #55585f;
}

.file-drop-area {
  border: 1px dashed var(--sidebar-menu-top-text);
}
.file-drop-area.is-active {
  background-color: #17171a;
}

.file-btn {
  background-color: #17171a;
  border: 1px solid var(--sidebar-menu-top-text);
}

.select-input {
  border-bottom: solid 1px #333;
  color: var(--sidebar-menu-top-text);
}
.select-input:focus {
  border-color: var(--player-control-active-button);
  color: var(--sidebar-menu-playlist-text);
}
.select-input option {
  background-color: var(--search-background);
}
.select-input option:disabled {
  color: var(--sidebar-menu-playlist-text);
}

/* Header */
._header_3fe665f._solidHeader_2b3f298,
._smallHeader_383424b {
  background-color: var(--main-background) !important;
}
._smallHeader_383424b._solidBackground_a62a269:before {
  background-color: var(--main-background);
  content: unset;
}

/* Sidebar */
._navigationItem_4e9deae:hover,
._navigationItem_4e9deae._selected_29027d1,
:is(a._sidebarItem_730d27e, button._sidebarItem_730d27e):hover,
._active_3451dba:is(a._sidebarItem_730d27e, button._sidebarItem_730d27e) {
  background-color: var(--player-control-background);
}
._sectionHeader_5f11aab {
  background-color: var(--sidebar-background);
}

/*shortcuts*/
._shortcutItem_6c8e7b4 {
    background-color: #1a1b26 !important;
}
._shortcutItem_6c8e7b4::after {
    background: linear-gradient(to right, transparent, #1a1b26);
}
._createdBy_0c4a82d,
._artistLink_1bf9517 {
    color: var(--text-secondary) !important;
}

/* Search input */
._container_f1be359 {
    background-color: var(--search-background);
}
div._searchField_b2eb7f7:focus-within {
  background-color: var(--search-background);
  border: 1px solid var(--market-core-text-white-color);
}

/* Context menu */
._contextMenu_8606b2d {
  background-color: var(--wave-color-solid-base-brighter);
}
._actionItem_e0c1e65:hover {
    background-color: var(var(--wave-color-opacity-contrast-fill-ultra-thin));
}

/* Hide recommended playlists */
div:has(> ._headerContainer_38705a9[data-test="horizontal-list-header--RECOMMENDED_USERS_PLAYLISTS"]) {
  display: none;
}