:root {
    --background: #16161e;
    --sidebar-background: #1a1b26;
    --text: #cdd6f4;
    --icons: #cdd6f4;
    --accent: #7aa2f7;
    --surface: #24283b;
}

[class*="main"],
[class*="_bar"],
[class*="Header"],
[class*="header"] {
    background-color: transparent !important;
}

[class*="sidebar"],
#footerPlayer {
    background-color: var(--sidebar-background) !important;
}
[class*="_selected_"] {
    background-color: var(--surface);
}

[class*="Header"]::before,
body {
    background-color: var(--background) !important;
}

* {
    color: var(--text);
    --wave-color-text-main: var(--text);
    --market-core-fill-white-color: var(--icons);
    --wave-color-solid-base-fill: var(--background);
    --wave-color-solid-base-bright: var(--sidebar-background);
    --market-core-surface-10-color: var(--surface);
    --market-core-surface-20-color: var(--sidebar-background);
    --market-core-surface-30-color: var(--sidebar-background);
}

[class*="indicator"],
[class*="marketButton"],
[class*="Header"]::before,
[class*="_contextMenu_"] {
    background-color: var(--sidebar-background) !important;
}

[class*="Text"] {
    color: var(--text);
}

select {
    background-color: transparent !important;
}

option {
    background-color: var(--surface);
}

[class*="_shortcutItem_"] {
    background-color: var(--sidebar-background) !important;
}

[class*="_favorite_"] {
    color: var(--accent) !important;
}